
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

button:not(.tree-item-action) {
    min-width: 120px;
    padding: 8px 24px;
    border-radius: 10px;
    background-color: #e35734;
    border: none;
    font-size: 14px;
    color: #fff;
    margin-right: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c33714;
}

button:last-child {
    margin-right: 0;
}

.ui-button {
    min-width: 0 !important;
}


/** header **/

#header {
    height: 60px;
    background: #090c0d;
}

#header .logo {
    float: left;
    margin: 9px 0 0 12px;
    width: 160px;
    height: 44px;
    background-image: url("../img/logo.png");
    background-size: 160px 44px;
    border: none;
}

#header .userinfo {
    float: right;
    margin: 10px 12px 0 0;
    height: 40px;
    line-height: 40px;
    background-color: #ff9b51;
    border-radius: 40px;
}

#header .userinfo .username a {
    color: #fff;
    font-size: 18px;
    text-align: right;
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
}

#header .userinfo .username a:hover {
    color: #000;
}

.userinfo {
    display: none;
}


/** tabbar **/

#tabbar {
    height: 40px;
    margin-top: 16px;
    border-bottom: 1px solid #ccc;
}

#tabbar ul, #tabbar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabbar ul {
    margin-left: 16px;
}

#tabbar li {
    float: left;
    height: 18px;
    padding: 8px 64px;
    font-size: 18px;
    background-color: #333;
    margin: 4px 2px 2px 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    cursor: pointer;
}

#tabbar li:hover {
    background-color: #666;
}

#tabbar li.selected, #tabbar li.selected:hover {
    height: 24px;
    margin: 0 2px 0 0;
    background-color: #eee;
    color: #000;
    line-height: 24px;
    cursor: default;
    border: 1px solid #ccc;
    border-bottom: none;
}


/** contents **/

#contents {
    width: 100%;
    position: absolute;
    top: 117px;
    bottom: 0px;
}

.tab-contents {
    height: 100%;
}

/** workaround for hide webview **/
.hidden {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    visibility: hidden !important;
}

.tab-contents webview {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

/** statusbar **/

#statusbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 39px;
    border-top: 1px solid #ccc;
    background-color: #666;
    color: #eee;
    overflow: hidden;
    display: none;
}

#statusbar ul, #statusbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#statusbar ul {
    margin: 12px 0 0 24px;
}

#statusbar li {
    float: left;
    margin-right: 16px;
    font-family: Menlo, Monaco, monospace;
    font-size: 12px;
    padding-right: 16px;
    border-right: 1px solid #494c4d;
}

#statusbar li:last-child {
    margin-right: 0;
    border-right: none;
}

#contractinfo {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 12px;
    background-color: #666;
    color: #eee;
    overflow: hidden;
    font-size: 10px;
}
